@charset"utf-8";

$pink = #FF00FF;
$black = #000000;

html {
    width:100%;
    height:100%;
}

body {
    font-size:11px;
    letter-spacing: 0.1em;
    color:#000;
    line-height:1;
    font-family:'Avenir Next LT W01 Bold', 'Avenir Next LT W01 Demi';
}

.button-container{
    margin-top:20%;
}

.left-column {
    text-align: center;
    margin-top:20px;
    height:50px;
    transition:background-color 1s;
}

.left-column:hover {
    background-color: #0000FF;
}

.right-column {
  text-align: center;
  margin-top:20px;
  height:50px;
  transition:background-color 1s;
}

.right-column:hover {
    background-color: #00FF00;
}


.button-text{
    color: #ffffff;
    font-family: Helvetica, sans-serif;
}


#bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

#bg canvas {
    visibility: hidden;
}
